src/main/mule/github-test-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c7f66236-6512-4aa8-a7a7-511e88515f41" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-test-appFlow" doc:id="9274e9f0-b3ac-431f-b8b7-11a163a7d5ba" >
		<http:listener doc:name="Listener" doc:id="53705b3a-4eca-4f44-b794-f2ef8885f416" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="e777df4a-a4f2-4d8c-9e64-51b1f676728c" message='#["Start Flow"]'/>
		<ee:transform doc:name="common variables" doc:id="f191f2c8-dce7-4c49-ba9e-d3c48ff55e4c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="listenerPath" ><![CDATA[attributes.listenerPath]]></ee:set-variable>
				<ee:set-variable variableName="x-correlation-id" ><![CDATA[attributes.headers.'x-correlation-id']]></ee:set-variable>
				<ee:set-variable variableName="client-id" ><![CDATA[attributes.headers.'client-id']]></ee:set-variable>
				<ee:set-variable variableName="client-secret" ><![CDATA[attributes.headers.'client-secret']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="56aad988-24ae-45de-8b3c-a4e8b00f8bc0" >
			<when expression="#[sizeOf(vars.'x-correlation-id') &gt; 0]">
				<flow-ref doc:name="firstLogicSub_Flow" doc:id="34785ef2-d78d-40d0-b097-f1486c263729" name="firstLogicSub_Flow" />
			</when>
			<otherwise>
				<flow-ref doc:name="secondLogicFlow" doc:id="9060ba3c-d589-4e5c-b95a-96cf4de72cc5" name="secondLogicFlow"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="cd8cd19c-6fcd-494e-af6b-82b24b30d3f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="dfb1a76c-f99e-4eb7-b5eb-710c05333673" name="custom-date-logicFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="592619b1-fd92-4100-a564-e571b7a4a50f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a7a26596-3426-41c1-b753-f0bbe4e17f9d" message="#[payload]"/>	
	</flow>
</mule>
